<div class="app">
    <div class="main">

        <div class="latestSection">
            <div class="title">
                <p-button label="עוד שיעורי תורה חדשים" styleClass="p-button-outlined"></p-button>
                <p>שיעורי תורה חדשים</p>
            </div>
            <app-card-latest></app-card-latest>

        </div>

        <div class="speakers">
            <div class="title">
                <p-button label="לכל הרבנים" styleClass="p-button-outlined"></p-button>
                <p>רבנים</p>
            </div>

            <app-speakers-card></app-speakers-card>
        </div>

        <div class="recommended">
            <div class="card" *ngFor="let item of listRecommended">
                <div class="img">
                    <img src="{{item.img}}" alt="Image" class="img">
                </div>
                <div class="content">
                    <p>{{item.name}}</p>
                </div>
            </div>
        </div>
    </div>