.main{
    display: grid;
    padding: 2.5% 1.5%;
    direction: rtl;
    grid-template-columns: 1fr 1.5fr 1fr;

}
.category{
    display: flex;
    width: 100%;
}
.leftSt div{
    display: flex;
}
.leftSt div p{
    padding-right: 3px;
}
.language{
    margin-left: 15px;
}
a{
    text-decoration: none;
    color: #01278c;
    color: #06226d;
}
.title{
    padding: 2%;
    display: flex;
}
.title p{
    font-size: 1.3em;
    color: #06226d;
}
.logo{
    display: grid;
    align-items: center;
    width: -webkit-fill-available;
    justify-content: center;
}
.hiden{
    display: none;
}
.Subjects:hover >.hiden{
    display: grid;
    position: absolute;
    background: white;
  
    z-index: 5;
    text-align: start;
    box-shadow: 0 2px 18px #01278c21;
    border-radius: 12px;
    border: none;
    font-size: 14px;
    margin-top: 30px;
}
.hiden div{
    padding: 3px 9px;
    cursor: pointer;
    font-size: 1.1em;

}
.left{
    display: grid;
    /* align-items: center; */
    grid-template-columns: 1fr 1fr;
    justify-self: end;

}
