<div class="main">

    <div class="category">



        <div class="Subjects spekers title">
            <p>רבנים</p><mat-icon>keyboard_arrow_down</mat-icon>
            <div class="hiden">
                <div>
                    <div *ngFor="let item of speakers">
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>

        <div class="Subjects title">
            <p>נושאים</p><mat-icon>keyboard_arrow_down</mat-icon>
            <div class="hiden channels">
                <div>
                    <div *ngFor="let item of channels">
                        {{item.title}}
                    </div>
                </div>
              
            </div>
        </div>

    </div>
    <div class="logo">
        <p>חסידות נט</p>
    </div>
    <div class="left">

        <div class="language leftSt">
            <a href="">
                <div>
                    <mat-icon>language</mat-icon>
                    <p>עברית</p>
                </div>
            </a>
        </div>
        <div class="personal leftSt">
            <a href="">
                <div>
                    <mat-icon>person</mat-icon>
                    <p>כניסה </p>
                </div>
            </a>
        </div>
    </div>

</div>