<div class="main">

    <div class="category">
       
           

        <div class="spekers title">
            <p>רבנים</p><mat-icon>keyboard_arrow_down</mat-icon>
            <div class="hiden">
                <!-- <div *ngFor="let item of items"></div> -->
                5555
            </div>
        </div>

        <div class="Subjects title">
            <p>נושאים</p><mat-icon>keyboard_arrow_down</mat-icon>
            <div class="hiden">
                <div>פרשת השבוע</div>
                <div>הלכה</div>
                <div>התוועדויות</div>
                <div>תניא</div>
                <div>תורה אור</div>
                <div> תפילה</div>
                <div> ליקוטי תורה</div>
                <div> היום יום <span>></span></div>


                <!-- <div *ngFor="let item of SubjectsList">{{item.channel_name}}</div> -->
            </div>
        </div>

    </div>
    <div class="logo">
        <p>חסידות נט</p>
    </div>
    <div class="language">
        <a href=""> עברית<mat-icon>language</mat-icon></a>
    </div>
</div>