<p-carousel [value]="list_LatestVideos" [numVisible]="5" [numScroll]="3" [circular]="false" 
    [responsiveOptions]="responsiveOptions">

    <ng-template let-item pTemplate="item">
        <div class="style-card" (click)="RouteToVideo(item)">
            <p-card header="{{item.description}} " subheader="{{item.tags}}" [style]="{ width: '220px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                </ng-template>

                <ng-template pTemplate="footer">
                    <p>{{item.channel}}</p>
                    <p>{{item.date_uploaded}}</p>
                </ng-template>
            </p-card>
        </div>
    </ng-template>
    
</p-carousel>

