<p-carousel [value]="list_LatestVideos" [numVisible]="5" [numScroll]="3" [circular]="false" 
    [responsiveOptions]="responsiveOptions">

    <ng-template let-item pTemplate="item">
        <div class="eliItem">
            <p-card header="{{item.description}} " subheader="{{item.tags}}" [style]="{ width: '220px' }">
                <ng-template pTemplate="header">
                    <img alt="Card" src="https://primefaces.org/cdn/primeng/images/usercard.png" />
                </ng-template>

                <ng-template pTemplate="footer">
                    <p>{{item.channel}}</p>
                    <p>{{item.date_uploaded}}</p>
                </ng-template>
            </p-card>
        </div>
    </ng-template>
    
</p-carousel>

<!-- <div class="card" *ngFor="let item of list_LatestVideos" [style.transform]="'translateX(' + scrollPosition + 'px)'">
    <div class="img">
        <img src="../../../assets/shutterstock.jpg" alt="">
        <div class="bottom">
            <p>{{item.video_length}}</p>
            <mat-icon>play_circle_outline</mat-icon>
        </div>
    </div>
    <div class="speaker">
        <p>{{item.description}}</p>
    </div>
    <div class="name">
        <p>{{item.tags}}</p>
    </div>
    <div class="channel">
        <p>{{item.channel}}</p>
    </div>
    <div class="channel">
        <p>{{item.date_uploaded}}</p>
    </div>
</div>
</div> -->