<p-carousel [value]="listSpekers" [numVisible]="4" [circular]="false" [page]="lastpage" [responsiveOptions]="responsiveOptions" [showIndicators]="false"  >
    <ng-template let-item pTemplate="item">
       

            <a [routerLink]="['/search',item[0].user_id]">
                <div class="cardSpeakers">
                    <div class="content">
                        <div>
                            <p class="name">{{item[0].full_name}}</p>
                            <p class="num">{{item[0].number_views}}</p>
                        </div>
                    </div>
                    <div class="img">
                        <img [src]="item[0].img" alt="Image" class="circle-image">
                    </div>
                </div>
            </a>
            
            <a [routerLink]="['/search',item[1].user_id]">
                <div class="cardSpeakers">
                    <div class="content">
                        <div>
                            <p class="name">{{item[1].full_name}}</p>
                            <p class="num">{{item[1].number_views}}</p>
                        </div>
                    </div>
                    <div class="img">
                        <img [src]="item[1].img" alt="Image" class="circle-image">
                    </div>
                </div>
            </a>
    </ng-template>
</p-carousel> 